@using OrchardCore.ContentManagement

@{
    ContentItem contentItem = Model.ContentItem;
}

@if (contentItem.ModifiedUtc.HasValue)
{
    <div>
        <span class="hint">@T["由 {0} 最后修改于 {1}", contentItem.Author, (object)(await DisplayAsync(await New.TimeSpan(Utc: contentItem.ModifiedUtc)))]</span>
    </div>
}