@model dynamic
    
<a asp-action="Edit" 
    asp-controller="Admin" 
    asp-route-id="@Model.Name" 
    class="btn btn-primary btn-sm">@T["编辑"]</a>

<a asp-action="Delete" 
    asp-controller="Admin" 
    asp-route-id="@Model.Name" 
    class="btn btn-danger btn-sm" 
    itemprop="RemoveUrl UnsafeUrl">@T["删除"]</a>
