<button class="primaryAction btn btn-primary" type="submit">@T["保存"]</button>

@{
    var returnUrl = Context.Request.Query["returnUrl"];
}

@if (!String.IsNullOrWhiteSpace(returnUrl) && Url.IsLocalUrl(returnUrl)) {
    <a id="button-cancel" href="@returnUrl" class="btn btn-secondary">@T["取消"]</a>
}
