
<fieldset>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">@T["保存"]</button>
        <a class="btn btn-secondary" asp-route-action="Index">@T["取消"]</a>
    </div>
</fieldset>
