@model ContentTypeViewModel

<fieldset class="form-group">
    <label asp-for="DisplayName">@T["显示名称"]</label>
    <input asp-for="DisplayName" class="form-control w-md-25" />
    <span class="hint w-100">@T["屏幕上显示的类型名称"]</span>
</fieldset>
